<section class="container px-2">
    <div style="height: 80vh;" class="card mat-elevation-z3 border-0 mt-3 mb-2">
        <div class="card-body">
            <span style="width: 30%; margin: 5%;">
                <img class="contact_img" style="width: 400px;" src="../../../../assets/contact_us.png"/>
            </span>
            <span style="width: 50%; margin: 5%; align-items:self-start;">
                <h3 style="text-decoration: overline; margin-left: -25px;">Our Addresses</h3>
                <ul style="list-style: none;">
                    <li>
                        <p><img src="'../../../../../../assets/map1.png"/>&nbsp;House No.13A, Gyatri Vihar Colony, Pintu Park, Gwalior - 474007</p>
                    </li>
                    <li>
                        <p><img src="'../../../../../../assets/map2.png"/>&nbsp;&nbsp;House No.9, Siddhivinayak Colony, Sagartal Chauraha, Bohdapur, Gwalior - 474012</p>
                    </li>
                </ul>
            </span>
        </div>
    </div>
</section>