<section *ngIf="bookYourEventForm" class="container px-2">
    <div class="page-header-editor">
        <div class="page-header-title">
            <div class="d-block">
                <h5 class="mb-0">
                    Quick Booking!<img style="height: 35px; margin: 0px 10px;" src="../../../../assets/booking.png"/>
                </h5>
            </div>
        </div>
        <button type="button" mat-icon-button [routerLink]="['/']">
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <div style="height: 80vh;" class="card mat-elevation-z3 border-0 mt-3">
        <div class="card-body">
            <form [formGroup]="bookYourEventForm">
                <div class="card mat-elevation-z3 border-0 my-3">
                    <div class="card-body">
                        <div class="row">
                            <mat-form-field>
                                <mat-label>Event Type</mat-label>
                                <mat-select formControlName="eventType">
                                  <mat-option value='birthday_party'>Birthday Party</mat-option>
                                  <mat-option value="weeding_event">Weeding Event</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Event Stage</mat-label>
                                <mat-select formControlName="eventStage">
                                  <mat-option value='restaurant'>Restaurant</mat-option>
                                  <mat-option value="banquet_hall">Banquet Hall</mat-option>
                                  <mat-option value="rooftop">Rooftop (Open Terrace)</mat-option>
                                </mat-select>
                              </mat-form-field>
                            <mat-form-field class="col-12">
                                <mat-label>No of Attendee(s)</mat-label>
                                <input type="text" matInput placeholder="Attendee(s) Count" formControlName="attendees" trim="blur"
                                    maxlength="100" autocomplete="off" required />
                            </mat-form-field>
                            <section class="example-section">
                                <mat-label>Catering *</mat-label>
                                <mat-checkbox formControlName="catering" class="example-margin" [(ngModel)]="cateringValue"></mat-checkbox>
                            </section>
                            <mat-form-field>
                                <mat-label>Event Description</mat-label>
                                <input type="text" matInput placeholder="provide Description..." formControlName="eventDescription" trim="blur"
                                    maxlength="100" autocomplete="off" />
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </form>
            <footer style="margin-top: 20px;" class="mat-stepper-footer ng-star-inserted">
                <button mat-raised-button color="primary" type="submit"
                    [disabled]="!bookYourEventForm.valid" (click)="submitResponse(bookYourEventForm)">Raise Your Query <img style="height: 25px; margin-left: 10px;" src="../../../../assets/done.png"/>
                </button>
                <button mat-stroked-button class="ml-1" color="primary" [routerLink]="['/']">
                    Cancel
                </button>
            </footer>
        </div>
    </div>
</section>