<div class="image-background">
    <p style="font-family: 'Sans-serif'; font-size: 90px;">Our Work</p>
</div>

<div class="content">
    <h2 style="text-align: center; margin-top: 50px; font-family: cursive;">"See Our Captivating Moments"</h2>
    <p style="font-family: serif; width: 70%; text-align: center; margin-left: auto; margin-right: auto;">"Take a glimpse at our unforgettable moments, crafted to bring joy and bring us closer together. We guarantee you'll cherish every experience like never before, creating memories that last a lifetime. Witness the magic of our special moments, made to inspire joy and connect us in unforgettable ways. We promise, you'll relive these memories like never before, with each one more beautiful than the last"</p>
    <div class="birthday_party">
        <a style="font-family: fantasy; padding: 7px; border: 1px solid darkred; border-radius: 25px; display: inline; font-size: 22px; margin-top: 20px;">Glimpse of Birthday Event's</a>
        <ul>
            <li><img src="../../../../assets/s1.jpeg"/></li>
            <li><img src="../../../../assets/s2.jpeg"/></li>
            <li><img src="../../../../assets/s3.jpeg"/></li>
        </ul>
    </div>

</div>