.logo {
    height: 25px;
    width: 70px
  }
  
  .header {
    flex: 1;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-weight: 600;
    color: white;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #771319;
    // padding: 10px 20px;
  }

  header ul {
    list-style: none;
    display: flex;
    margin-bottom: 0px;
  }

  header ul.right_nav {
    padding: 0;
    margin: 0;
    li {
      padding: 16px 40px;
    }
  }

  header ul li {
    padding: 15px 10px;
  }
  
  header ul li:hover {
    background-color: black
  }


 .active {
    background-color: grey;
  }

  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: black;
    color: whitesmoke;
    font-family: cambria;
  }

 