.logo {
    height: 25px;
    width: 70px
  }
  
  .header {
    flex: 1;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-weight: 600;
    color: white;
    position: fixed;
    z-index: 1;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #771319;
  }

  header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  header ul.right-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  header ul li {
    float: left;
  }
  
  header ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  header ul li a:hover {
    background-color: #111;
  }

 .active {
    background-color: grey;
  }

  .footer {
    position: fixed;
    bottom: 0;
    z-index: 1;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: black;
    color: whitesmoke;
    font-family: cambria;
  }

  @media only screen and (max-width: 768px) {
    header ul li a {
      font-size: 10px;
      padding: 6px 4px;
    }
  }