<main id="main">
  <div class="header">
    <header>
      <ul class="left_nav">
        <li>
          <img class="logo" src="../assets/brand_logo.webp" />
        </li>
      </ul>

      <ul class="right_nav">
        <li (click)="navigate('home')" [routerLink]="['/e&o/home']" [routerLinkActive]="['active']"><a
          class="nav-cta">Home</a></li>
        <li (click)="navigate('our_work')" [routerLink]="['/e&o/work']" [routerLinkActive]="['active']"><a
          class="nav-cta">Our Work</a></li>
        <li (click)="navigate('contact')" [routerLink]="['/e&o/contact']" [routerLinkActive]="['active']"><a
          class="nav-cta">Contact</a></li>
        <li (click)="navigate('join')" [routerLink]="['/e&o/join']" [routerLinkActive]="['active']"><a
          class="nav-cta">Join Us</a></li>
        <li (click)="navigate('book_event')" [routerLink]="['/e&o/book_your_event']" [routerLinkActive]="['active']"><a
            class="nav-cta">Book Your Event</a></li>
      </ul>
    </header>
  </div>
  <router-outlet></router-outlet>
  <footer class="footer">
    <p>© 2024 – Designed & Developed By Aadhya E&O. All Rights Reserved</p>
  </footer>
</main>