<main id="main">
  <div class="header">
    <header>
      <ul class="left_nav">
        <li>
          <img class="logo" src="../assets/brand.png" />
        </li>
      </ul>

      <ul class="right_nav">
        <li [routerLink]="['/e&o/home']" [routerLinkActive]="['active']"><a>Home</a></li>
        <li><a>Our Work</a></li>
        <li><a>Contact</a></li>
        <li><a>Join us</a></li>
        <li (click)="navigate()" [routerLink]="['/e&o/book_your_event']" [routerLinkActive]="['active']"><a
            class="nav-cta">Book Your Event</a></li>
      </ul>
    </header>
  </div>
  <router-outlet></router-outlet>
  <footer class="footer">
    <p>© 2024 – Designed & Developed By Aadhya E&O. All Rights Reserved</p>
  </footer>
</main>