<main id="main">
    <section>
      <div class="mainframe">
        <h1 style="width: 100%;font-family: math; color: white; text-align: center; position: absolute; bottom: 65px;">Your Event, Our <a style="background-color: cadetblue;">Responsibility</a></h1>
        <p style="width: 100%;font-family: cursive; color: white; text-align: center; position: absolute; bottom: 28px; font-size: 18px;">"Let's select dates & plan your Event & make memorable with us" </p>
      </div>
      <div class="highlights">
        <ul>
          <li style="width: 50%; float: left;">
            <h1 style="font-family: Baskervville !important;">Our Highlights</h1>
            <p style="font-family: cambria; font-size: 19px;">Putting all the beautiful pieces together and crafting a great experiences to make your event memorable, we are Aadhya Event & Organizers (Aadhya E&O), we makes your event slighy different. We know we are new in this segment but our efforts & constructive approach make us different from others. So, Let's give us a chance and see less than a MAGIC!&nbsp;&nbsp;<img style="height: 50px;" src="../../../../assets/magic-wand.png"/></p>
          </li>
          <li  class="social" style="width: 30%; float: left; margin: 3% 10%; ">
          </li>
        </ul>
      </div>
  
      <div class="when_where">
        <p style="font-family: Georgia, serif; text-align: center; font-size: 28px; padding: 15px;"><img style="height: 45px; margin-right: 10px;" src="../../../../assets/feature.png"/>What We Offer's <img style="height: 45px; margin-left: 10px;" src="../../../../assets/puzzle.png"/></p>
        <ul>
          <li style="border: 1px solid green; width: 40%; float: left; margin: 0% 5%; height: 120px; padding: 5px; font-family: fantasy; font-size: 23px; background-image: url(../../../../assets/happy-birthday.png); background-size: 277px 100px; background-repeat: no-repeat; text-align: end;">
            Birthday Party's
          </li>
          <li style="border: 1px solid green; width: 40%; float: left; margin: 0% 5%; height: 120px; padding: 5px; font-family: fantasy; font-size: 23px; background-image: url(../../../../assets/kitty_party.jpg); background-size: 60% 100%; background-repeat: no-repeat; text-align: end;">
            Kitty Party's
          </li>
          </ul><br>
          <ul>
            <li style="border: 1px solid green; width: 40%; float: left; margin: 0% 5%; height: 120px; padding: 5px; font-family: fantasy; font-size: 23px; background-image: url(../../../../assets/corporate.jpg); background-size: 60% 100%; background-repeat: no-repeat; text-align: end;">
            Corporate Event's
          </li>
          <li style="border: 1px solid green; width: 40%; float: left; margin: 0% 5%; height: 120px; padding: 5px; font-family: fantasy; font-size: 23px; background-image: url(../../../../assets/wedding.png); background-size: 60% 100%; background-repeat: no-repeat; text-align: end;">
            Weeding Event's
          </li>
        </ul>
      </div>
    </section>
  </main>